<!DOCTYPE html>
<html lang="en">
<head>
 <meta  charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Share Documents</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'layout.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" style="justify-content: flex-end;" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'viewer_security' %}">Home</a>
                        </li>
                        {% if request.user.is_authenticated %}
                            {% if "profile" not in request.path %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'accounts_add_document' %}">Add Document</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'all_documents' %}">All Documents</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                        {% else %}
                            {% if "login" not in request.path %}
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                              </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>

            </div>
        </nav>
    <div class="container-fluid">
        {% block content %}

        {% endblock %}
    </div>
    {% if request.user.is_authenticated %}
        <div class="space_left">
            <div class="metadata">
                <p style="text-align: left;">{{ usage }} used</p>
                <p style="text-align: right;">{{ percent_used }}% of 20GB</p>
            </div>
            <div class="progress" style="height: 10px;">
              <div class="progress-bar" role="progressbar" style="width: {{ percent_used }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    {% endif %}
</body>
</html>